@{
    ViewBag.Title = "お問い合わせ";
}
<h2>@ViewBag.Title</h2>

<address>
    <abbr title="Phone">電話番号:</abbr>
    080-xxx-yyy
</address>

<address>
    <strong>サポート:</strong>   <a href="xxx_yyy@MVC.co.jp">Support@example.com</a>
</address>